@media screen and (max-width: 768px) {
    .menu-list {
        display: none;
        position: absolute; /* Alteração da posição */
        top:26%; /* Posiciona o menu abaixo do cabeçalho */
        left: 0;
        width: 100%;
        background-color: #000;
        z-index: 1; /* Garante que o menu esteja acima do banner */
        flex-direction: column;
        opacity: 0.7;
    }

    .menu-list li {
        display: block;
        width: 100%;
        text-align: center;
    }
    .menu-list a{
        text-align: start !important;
        width: auto !important;
    }

    .menu-icon {
        display: block!important;
    }
    .dsnonei{
        display: none!important;
    }
}
@media screen and (max-width: 628px){
    .dsmin{
        display: none!important;
    }
    .icons .icones a{
        border: none!important;
    }
    .menu .buttonSearch {
        right: 0px!important;
        top: 4px!important;
    }
    .menu .buttonSearch img {
        width: 40px!important;
        height: 40px!important;
    }
    .menu .menuInput {
        display: flex;
        flex-direction: row-reverse;
        padding: 0!important;
    }
}

@media screen and (max-width: 400px){
    .imgLogo {
        width: 174px!important;
    }


}
