@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.container{
    padding: 0 10px 0 10px;
}
.headTop{
    display: flex;
    flex-direction: column-reverse;
}
.corFundo{
    background-color: #000;
}
.imgLogo{
    width: 200px;
    height: auto;
}


.navbar {
    overflow: hidden;
}
.menu-icon {
    display: none;
    cursor: pointer;
    padding: 15px;
    width: fit-content;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
.menu-list {
    list-style-type: none;
    background-color: #000;
    display: flex;
    justify-content: space-around;
}
.menu-list li {
    float: left;
}
.menu-list a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: 1.3s;
    width: 115px;
}
.menu-list a:hover {
    background-color: #fff;
    color: #000;
}


.menu{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.menu .menuInput{
    width: 100%;
    padding: 0 0 0 20px;
}
.menu .menuInput input{
    width: 90%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom:1px solid white;
    color:white;
}
.menu .buttonSearch{
    background: transparent;
    border: none;
    position: relative;
    right: 30px;
    top: 8px;
    cursor: pointer;
}
.menu .buttonSearch img{
    width: 24px;
    height: 24px;
}

.icons{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons .icones a{
    padding: 11px;
    border: 1px solid #4b4646;
    align-items: center;
    display: flex;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #4b4b4b;
    border-left: 1px solid #4b4b4b;
}
.icons .icones img{
    width: 30px;
}

.brlnone{
    border-left: none!important;
}
.brrnone{
    border-right: none!important;
}