@media screen and (max-width: 768px) {
    .menu-list {
        display: none;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .menu-list li {
        display: block;
        width: 100%;
        text-align: center;
    }
    .menu-list a{
        text-align: start !important;
        width: auto !important;
    }

    .menu-icon {
        display: block !important;
    }
}